<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>182870507945-hgqc2h4u1jhc4etoo3rao2eq5g8lc0mq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.182870507945-hgqc2h4u1jhc4etoo3rao2eq5g8lc0mq</string>
	<key>API_KEY</key>
	<string>AIzaSyBqpsu1iP7CSNyEHDos6mMgxZcGtsd1vtM</string>
	<key>GCM_SENDER_ID</key>
	<string>182870507945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ahmad.myfirstapp</string>
	<key>PROJECT_ID</key>
	<string>myfirst-notesapp</string>
	<key>STORAGE_BUCKET</key>
	<string>myfirst-notesapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182870507945:ios:8ff619e1a616fada9c44b8</string>
</dict>
</plist>